.transition10 {
  animation: rotate 3s linear infinite;
  transform-box: fill-box;
  transform-origin: 53% 53%;
  
  transition: fill 2s, stroke 5s, transform 2s;
  fill: line;

stroke-width: 5;
transition: fill 2s, stroke 5s, transform 2s;
transition-delay: 3s;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); 

}
}

.transition12 {
    animation: rotate 3s linear infinite;
  transform-box: fill-box;
  transform-origin: 53% 53%;
  
  transition: fill 2s, stroke 5s, transform 2s;
  fill: line;

stroke-width: 5;
transition: fill 2s, stroke 5s, transform 2s;
transition-delay: 3s;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); 

}
}

.transition7 {
    transform: translateX(143px);
    animation: sail 3.6s  ease-in-out infinite;
    
  }
  @keyframes sail {
    60% {
      transform: translateX(-100px);
    }
    60% {
      transform: translateX(309.2px);
    }
    60% {
      transform: translateX(-10px);
    }
    
  }

  .transition8 {
    transform: translateX(143px);
    animation: sail 3.6s  ease-in-out infinite;
    
  }
  @keyframes sail {
    60% {
      transform: translateX(-100px);
    }
    60% {
      transform: translateX(309.2px);
    }
    60% {
      transform: translateX(-10px);
    }
    
  }
  .transition9 {
    transform: translateX(143px);
    animation: sail 3.6s  ease-in-out infinite;
    
  }
  @keyframes sail {
    60% {
      transform: translateX(-100px);
    }
    60% {
      transform: translateX(309.2px);
    }
    60% {
      transform: translateX(-10px);
    }
    
  }

  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
