

$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1400px;



$max-sm: 575.98px;
$max-md: 767.98px;
$max-lg: 991.98px;
$max-xl: 1199.98px;
$max-xxl: 1399.98px;




$tangerine: #FFAF6D;
$orange: #FFA500;
$charcoal: #2E1503;
$sable: #060606;
$black: #000000;
$white: #FFFFFF;
$gray: #4b4b4b;




$degradation: rgba(0, 0, 0, 0.6);


$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;


$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px; 
$x-small: 12px;




$stylefont: italic;


$regular: 400;
$bold: 700;


