
.fondo {
    background-color: black!important;
    
}

.nav-bar .ml-auto ,a { 
font-family:$poppins!important; 
font-size: $x-small;
margin-top: 5px;

}
  .boton {
      font-size: 10px;
  }
  .bg-information {
      background-color: black;
  }

  

 

    

  
